{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  {{ dresseur.prenom ~ ' ' ~ dresseur.nom }} - Journal -{{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
    <div class="page-header">
        <h1>{{ dresseur.prenom ~ ' ' ~ dresseur.nom }} <small>Journal</small></h1>
    </div>
{% endblock %}