{% extends 'PR2UserBundle::layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="medium-12 columns">
			<div class="panel">
				Salut <a href="#" class="button">{{ name }}</a>!
			</div>
		</div>
	</div>
{% endblock %}
