{% extends '::layout.html.twig' %}

{% block body -%}
    <div class="page-header">
		<h1>Entrée de Pokédex <small>Édition</small></h1>
	</div>

	<div class="well">
    	{{ form(edit_form) }}
	</div>

    <p>
        <a href="{{ path('pr2pokemon_pokedex') }}" class="btn btn-default">
	      	<span class="glyphicon glyphicon-chevron-left"></span>
            Retour à l'index
        </a>
    	{{ form(delete_form) }}
	</p>
{% endblock %}
