<div class="panel">
	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
		{{ form_widget(form) }}
		<div>
			<button type="submit">Appliquer</button>
		</div>
	</form>
</div>
