# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*.css
web/js/*.js
bin/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
