<div class="panel">
	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		{{ form_widget(form) }}
		<div>
			<button type="submit">Modifier</button>
		</div>
	</form>
</div>
