{# Si le user est connecté #}
<div class="navCustom">
    <ul class="nav nav-pills">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mon Profil</a></li>
        <li><a href="#">Sujet Actif</a></li>
        <li><a href="#">Notifications <span class="badge badge-default">3</span></a></li>
        <li><a href="#">Messages <span class="badge badge-default">2</span></a></a></li>
    </ul>
</div>