{# Si le user est connecté #}
<div class="navCustom">
    <ul class="nav nav-pills">
        <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> Mon Profil</a></li>
        <li><a href="{{ path('pr2forum_voirSujet', {'id': app.user.getDresseurActif().getSujetActif().getId()}) }}">Sujet Actif</a></li>
        <li><a href="#">Notifications <span class="badge badge-default">3</span></a></li>
        <li><a href="#">Messages <span class="badge badge-default">2</span></a></a></li>
    </ul>
</div>