{% extends 'PR2ForumBundle::layout.html.twig' %}

{% block pr2forum_body %}
    <h1>Création de Thème</h1>

    {% include "PR2SettingsBundle:Theme:formulaire.html.twig" %}

    <a class="btn btn-default" href="{{ path('pr2_settings_theme') }}">
        <span class="glyphicon glyphicon-chevron-left"></span> Retour
    </a>
{% endblock %}
