{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Paramètres -{{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
<script type="text/javascript">
	$.each($(".theme"), function(index, item){
		$(item).click(function(){
			setCookie("PR2ImageFond", $(item).data(title), 365);
			alert($(item).data(title));
			$("body").css("background-image", "url(/Symfony/web/uploads/" + getCookie("PR2ImageFond") + ")");
		});
	});
</script>
	<div class="page-header">
		<h1>Paramètres <small></small></h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Thème</div>
				<div class="panel-body" style="text-align:center;">
					{% for theme in themes %}
						<div class="bloc bloc-liste-admin">
							<img class="theme" data-title="{{ theme.imageFond }}" style="width:200px;" src="{{ asset('uploads/' ~ theme.imageFond) }}">
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
			<div class="panel panel-info">
				<div class="panel-heading">Police</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#">Standard</a></li>
						<li><a href="#">Pokémon Blue/Red</a></li>
						<li><a href="#">Pokémon Saphire/Ruby</a></li>
						<li><a href="#">Pokémon Diamond/Pearl</a></li>
						<li><a href="#">Pokémon Black/White</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}