{% extends "PR2CoreBundle::layout.html.twig" %}
 
{% block title %}
  Administration - Membre -{{ parent() }}
{% endblock %}
 
{% block core_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <div class="title ribbon ribbon-2">Trainer, 18 ans</div>
                <div></div>
            </div>
            <div class="well">
                <div class="title ribbon ribbon-3">Succès</div>
                <div></div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <div class="well">
                <div class="title ribbon ribbon-1">
                    Équipe
                    <div class="actions">
                        <a class="btn btn-primary btn-xs" href="#"><span class="glyphicon glyphicon-th-list"></span></a>
                    </div>
                </div>
                {# for pokemon in pokemons #}
                    <div class="entry pokemon">
                        <div class="pokemon-holder standard"><img src="{{ asset('images/Pokemons/Standard-Face/1.png')}}"></div>
                        <div class="label label-default name">Bulbasaur</div>
                        <div class="label label-success level">Lvl 5</div>
                    </div>
                    <div class="entry pokemon">
                        <div class="pokemon-holder standard"><img src="{{ asset('images/Pokemons/Standard-Face/2.png')}}"></div>
                        <div class="label label-default name">Ivysaur</div>
                        <div class="label label-success level">Lvl 18</div>
                    </div>
                {# endfor #}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <div class="title ribbon ribbon-4">Activité</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="title ribbon ribbon-5">Description</div>
            </div>
        </div>
    </div>
{% endblock %}