{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  	Répondre - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
 
    <div class="page-header">
  	<h2>Répondre</h2>
    </div>
    
    {% include "PR2ForumBundle:Message:formulaire.html.twig" %}

    <p>
        <a href="{{ path('pr2lieu_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Retour à l'index
        </a>
    </p>
 
{% endblock %}