{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  	Ajouter un Sujet - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
 
  	<h2>Créer un nouveau Sujet</h2>
 
  	{% include "PR2ForumBundle:Sujet:formulaire.html.twig" %}
 
  	<p>
	    <a href="{{ path('pr2forum_accueil') }}" class="btn btn-default">
	      	<span class="glyphicon glyphicon-chevron-left"></span>
	      	Retour au Forum
	    </a>
  	</p>
 
{% endblock %}