{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Ajouter une Région - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
 
  <h2>Ajouter une Région</h2>
 
  {% include "PR2ForumBundle:Region:formulaire.html.twig" %}
 
  <p>
    <a href="{{ path('pr2region_index') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Retour à l'index
    </a>
  </p>
 
{% endblock %}