{# src/Sdz/BlogBundle/Resources/views/Blog/ajouter.html.twig #}

{% extends "SdzBlogBundle::layout.html.twig" %}
 
{% block title %}
  Ajouter un article
{% endblock %}
 
{% block sdzblog_body %}
 
  <h2>Ajouter un article</h2>
 
  {% include "SdzBlogBundle:Blog:formulaire.html.twig" %}
 
  <p>
    Attention : cet article sera ajouté directement sur la page d'accueil après validation du formulaire.
  </p>
 
  <p>
    <a href="{{ path('sdzblog_accueil', {'page': 1}) }}" class="btn btn-default">
      <span class="icon-chevron-left"></span>
      Retour à l'accueil
    </a>
  </p>
 
{% endblock %}