{% extends "PR2CoreBundle::layout.html.twig" %}
 
{% block title %}
  	Ajouter un Membre - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
 
  	<h2>Ajouter un Membre</h2>
 
  	{% include "PR2CoreBundle:Membre:formulaire.html.twig" %}
 
  	<p>
	    <a href="{{ path('pr2membre_index') }}" class="btn btn-default">
	      	<span class="glyphicon glyphicon-chevron-left"></span>
	      	Retour à l'index
	    </a>
  	</p>
 
{% endblock %}