{# src/PR2/ForumBundle/Resources/views/layout.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  	Forum - {{ parent() }}
{% endblock %}
 
{% block body %}
    {# On gère les messages flash de façon globale pour tout le bundle
       On peut catégoriser les messages dans différents sacs (bag),
       ici on les a mis dans "info", "success" et "error", qui correspondent aux classes CSS du Bootstrap #}
    
    {% for type in ['info', 'success', 'error'] %}
        {% for message in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    {% block pr2forum_body %}
    {% endblock %}
 
{% endblock %}