body{
	/*font-family: url('../fonts/PKMN-HGSS Regular.fon'); */
	background-position: center, middle;
	background-attachment: fixed;
}

#wrapper{
	padding: 15px;
	padding-top: 0;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.7) 80%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.7)), color-stop(50%,rgba(255,255,255,0.7)), color-stop(80%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.navPrincipal{
	border: none;
	border-radius: 0;
	color: @color-font-nav;
	background: @color-nav; /* Old browsers */
	background: -moz-linear-gradient(top,  @color-nav 0%, darken(@color-nav, 15%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color-nav), color-stop(100%,darken(@color-nav, 15%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @color-nav 0%,darken(@color-nav, 15%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @color-nav 0%,darken(@color-nav, 15%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @color-nav 0%,darken(@color-nav, 15%) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @color-nav 0%,darken(@color-nav, 15%) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	margin-bottom: 0;
	box-shadow: 0px 3px 3px;
	-webkit-box-shadow: 0px 3px 3px #333;

	li a {
		color: @color-font-nav;

		&:hover {
			color: darken(@color-font-nav, 20%);
		}
	}
}

.navCustom{
	border: #333333 solid 1px;
	border-top: none;
	border-radius: 0 0 5px 5px;
	padding: 5px 20px;

	background: @color-pri;
	background: -moz-linear-gradient(top,  @color-pri 0%, darken(@color-pri, 15%) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color-pri), color-stop(100%,darken(@color-pri, 15%)));
	background: -webkit-linear-gradient(top,  @color-pri 0%,darken(@color-pri, 15%) 100%);
	background: -o-linear-gradient(top,  @color-pri 0%,darken(@color-pri, 15%) 100%);
	background: -ms-linear-gradient(top,  @color-pri 0%,darken(@color-pri, 15%) 100%);
	background: linear-gradient(to bottom,  @color-pri 0%,darken(@color-pri, 15%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dcf', endColorstr='#115683',GradientType=0 );

	li a{
		margin: 0 2px;
		height: 30px;
		padding-top: 5px;

		color: white;
		&:hover{
			color: #333333;
			background: rgb(242,245,246);
			background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1)));
			background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
			background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
			background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
			background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
		}
	}
}

.content {
	margin-top: 20px;
}

.bloc{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	border-radius: 5px;
	overflow: hidden;
}

.block{
	display: block;
	margin-bottom: 5px;
}