{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
    Connexion - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
 
    <h2>Connexion</h2>

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert alert-error">{{ error.message }}</div>
    {% endif %}
 
    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
    <form action="{{ path('connexion_check') }}" method="post">
        <label for="username">Identifiant :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
     
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />
        <br />
        <input type="submit" value="Connexion" />
    </form>
 
{% endblock %}