{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
    Statistiques - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
    <div class="page-header">
        <h1>Statistiques <small>du Forum</small></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sommaire des Statistiques</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li><a href="#">Statistiques Globales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistiques Globales du Forum</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Statistique
                                </th>
                                <th>
                                    Valeur
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Nombre d'entrées
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nombre d'épisodes
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nombre de membres
                                </td>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Date d'enregistrement du dernier membre
                                </td>
                                <td>
                                    [Date]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    
    </div>
    <div class="row">
    
    </div>
{% endblock %}