{% extends "PR2ForumBundle::layout.html.twig" %}
 
{% block title %}
  Modifier un Lieu - {{ parent() }}
{% endblock %}
 
{% block pr2forum_body %}
 
  <h2>Modifier un Lieu</h2>
 
  {% include "PR2ForumBundle:Lieu:formulaire.html.twig" %}
 
  <p>
    <a href="{{ path('pr2lieu_index') }}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Retour à l'index
    </a>
  </p>
 
{% endblock %}