{% extends "PR2UserBundle::layout.html.twig" %}

{% trans_default_domain 'PR2UserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
